<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>427416938057-ehln3ksgraspn0k690nghn54rch4tsrc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.427416938057-ehln3ksgraspn0k690nghn54rch4tsrc</string>
	<key>API_KEY</key>
	<string>AIzaSyDgVgcw9xfq6gniqquyAsm7o9lPTYkJWcw</string>
	<key>GCM_SENDER_ID</key>
	<string>427416938057</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>dnrpcode.ToDoList</string>
	<key>PROJECT_ID</key>
	<string>todolist-4a35e</string>
	<key>STORAGE_BUCKET</key>
	<string>todolist-4a35e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:427416938057:ios:ee315a4570e489ed094198</string>
</dict>
</plist>